.Signup-form {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-top {
  display: flex;
  flex-direction: row;
}

.form-bottom {
  display: flex;
  flex-direction: column;
}

.status {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
